<mat-card class="mat-elevation-z6">
  <mat-tab-group>
    <mat-tab label="Login">
    <form class="row" (submit)="onLogin()">
      <div class="col col-lg-12">
        <mat-form-field class="width-length">
          <input matInput
                 placeholder="Email"
                 name="email"
                 [(ngModel)]="user.email"
                 type="email">
        </mat-form-field>
      </div>
      <a></a>
      <div class="col col-lg-12">
        <mat-form-field class="width-length">
          <input matInput
                 placeholder="password"
                 name="password"
                 [(ngModel)]="user.password"
                 type="password">
        </mat-form-field>
      </div>
      <div class="col col-sm-offset-9" >
        <button type="submit" mat-raised-button [color]="'primary'">Login</button>
      </div>
    </form>
    </mat-tab>
    <mat-tab label="Sign up">
      <form (submit)="onSignUp()">
        <mat-grid-list [cols]="2" rowHeight="5:1">
          <mat-grid-tile [colspan]="2"><i class="material-icons md-84">face</i></mat-grid-tile>
          <mat-grid-tile [colspan]="2"> <input type="file" (change)="uploadPic($event)"></mat-grid-tile>
          <mat-grid-tile [colspan]="1">
            <mat-form-field>
              <input matInput
                     name="name"
                     [(ngModel)]="user.name"
                     placeholder="Name"
                     type="text">
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="1">
            <mat-form-field>
              <input matInput
                     placeholder="Email"
                     name="email"
                     [(ngModel)]="user.email"
                     type="email">
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="1">
            <mat-form-field>
              <input matInput
                     name="password"
                     [(ngModel)]="user.password"
                     placeholder="Password"
                     type="password">
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="1"></mat-grid-tile>
          <mat-grid-tile [colspan]="1"></mat-grid-tile>
          <mat-grid-tile [colspan]="1">
            <button type="submit" mat-raised-button [color]="'primary'">Sign Up</button>
          </mat-grid-tile>
        </mat-grid-list>
      </form>
    </mat-tab>
  </mat-tab-group>
</mat-card>
