.center {
  margin: auto;
  width: 50%;
  //border: 3px solid green;
  //padding: 10px;
}

.add-button {
  position: fixed;
  right: 3em;
  bottom: 3em;
}

.header-image{
  width: 30px;
  height: 30px;
  border-radius: 180px;
}


