<input type="file" (change)="uploadFile($event)">
<button mat-raised-button (click)="openDialog()">Open</button>
<div *ngIf="userBike.length === 0">
  <mat-progress-spinner [mode]="'indeterminate'"
                        [color]="'primary'"
                        class="center">
  </mat-progress-spinner>
</div>
<div *ngIf="userBike.length > 0">
  <ul *ngFor="let bike of userBike">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{bike.name}}</mat-card-title>
        <mat-card-subtitle>{{ bike.capacity }}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="http://via.placeholder.com/350x250" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <h4>{{bike.name}}</h4>
        <mat-card-subtitle>{{ bike.capacity }}</mat-card-subtitle>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </ul>
</div>
<!--<app-add-post #addDialog></app-add-post>-->
