<mat-button-toggle-group #group="matButtonToggleGroup">
  <mat-button-toggle [value]="get100cc">
    1000cc
  </mat-button-toggle>
  <mat-button-toggle [value]="get400cc">
    400cc
  </mat-button-toggle>
  <mat-button-toggle [value]="get200cc">
    200cc
  </mat-button-toggle>
  <mat-button-toggle [checked]="true"
                     [value]="getDefault">
    ALL
  </mat-button-toggle>
</mat-button-toggle-group>
<!--<div class="example-selected-value">Selected value: {{group.value}}</div>-->

<button class="add-button"
        matTooltip="Submit a post"
        mat-fab
        [color]="'primary'" (click)="openDialog()">
  <mat-icon>add</mat-icon>
</button>
<div *ngIf="userBike.length === 0">
  <mat-progress-spinner [mode]="'indeterminate'"
                        [color]="'primary'"
                        class="center">
  </mat-progress-spinner>
</div>
<div *ngIf="userBike.length > 0">
  <ul *ngFor="let bike of group.value">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar><img class="header-image" [src]="userProfilePic" alt=""></div>
        <mat-card-title>{{bike.userName}}</mat-card-title>
      </mat-card-header>
      <img mat-card-image
           height="500"
           [src]="bike.photoUrl"
           alt="Photo of a bike">
      <mat-card-content>
        <h4>{{bike.name}}</h4>
        <mat-card-subtitle>{{ bike.capacity }}cc</mat-card-subtitle>
        <p>
          {{ bike.caption}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </ul>
</div>
<!--<app-add-post #addDialog></app-add-post>-->
