<!--The content below is only a placeholder and can be replaced.-->
<div class="wrap">
  <mat-toolbar [color]="'primary'">
    <a mat-button (click)="toHome()">Bikestagram</a>
    <span class="example-fill-remaining-space"></span>
    <a *ngIf="isLoggedIn && getUserDetail" mat-button (click)="toProfile()">
      <span>{{ getUserDetail }}</span>
      <div class="mat-button-ripple mat-ripple" mat-ripple ipple></div>
      <div class="mat-button-focus-overlay"></div>
    </a>
    <a *ngIf="isLoggedIn && !getUserDetail" mat-button (click)="toProfile()">
      <span>Profile</span>
      <div class="mat-button-ripple mat-ripple" mat-ripple></div>
      <div class="mat-button-focus-overlay"></div>
    </a>
    <button *ngIf="isLoggedIn" mat-button (click)="logout()">Logout</button>
  </mat-toolbar>
  <div class="basic-container">
    <router-outlet></router-outlet>
  </div>
</div>

